@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro&display=swap');

$black-primary: #080808;
$black-secondary: #0A0A0A;
$black-terciary: #1D1D1D;

$white-primary: #EDEDED;
$white-secondary: #C4C4C4;

$grey-primary: #282828;

$border-radius-m: 8px;

$button-font-size: 16px;